@using ITB.Business
@model Client
@{
    ViewBag.Title = "Client";
}

<div id="app_client" class="row">
    <div class="col-md-6 top_60">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#">{{title}}</a></li>
        </ul>
        <div class="top_30">
            <form v-on:submit="submit">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <input type="text" name="SearchTerm" class="form-control" placeholder="Search" />
                        </div>
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <button id="update" type="submit" class="btn btn-primary">Search</button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-6 top_60">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#">Latest Projects</a></li>
        </ul>
        <div>
            <div class="panel-body">
                <div v-for="proj in projects">
                    <a href="/Client/Project">{{proj.JobTitle}}</a><br />
                    <small>{{proj.Description}}</small>
                </div>
            </div>
        </div>
        <ul class="nav nav-tabs">
            <li class="active"><a href="#">Latest Positions</a></li>
        </ul>
        <div class="top_30">

        </div>
    </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        var clientApp = new Vue({
            el: '#app_client',
            data: {
                dataGetURL: "/Client/Get",
                dataPostURL: "/Client/Post",
                dataGetItemsURL: "/Client/ProjectGet",
                title: "Dashboard",
                client: {
                },
                projects: []
            },
            created() {
                var self = this;
                $.getJSON(this.dataGetURL, function (data) {
                    self.client = data;
                });
                $.getJSON(this.dataGetItemsURL, function (data) {
                    self.projects = data;
                });
            },
            methods: {
                submit(event) {
                    if (event !== undefined)
                        event.preventDefault();
                    var self = this;
                    var button = $(this.$el).find("button#update");
                    button.text("Saving");
                    $.post(this.dataPostURL, this.client).fail(function () {
                        $(self.$el).find("form").validate();
                    }).always(function () {
                        button.text("Update");
                    });
                },
            },
            mounted() {
                var self = this;
                var el = $(this.$el);

                var positions = new Bloodhound({
                    datumTokenizer: Bloodhound.tokenizers.whitespace,
                    queryTokenizer: Bloodhound.tokenizers.whitespace,
                    prefetch: {
                        url: '/Service/Positions'
                    }
                });
                positions.initialize();
                var citynames = new Bloodhound({
                    datumTokenizer: Bloodhound.tokenizers.whitespace,
                    queryTokenizer: Bloodhound.tokenizers.whitespace,
                    prefetch: {
                        url: '/Service/Locations'
                    }
                });
                citynames.initialize();
                $('input[name=JobTitle]').typeahead(null, {
                    source: positions, name: "positions"
                }).change(function () {
                    self.client.JobTitle = $(this).val();
                });
                $('input[name=CompanyLocation]').typeahead(null, {
                    source: citynames, name: "citynames"
                }).change(function () {
                    self.client.CompanyLocation = $(this).val();
                });
            }
        })
    </script>
}